<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgM31T7CvZVlFb0S75O2OnwusZOw1KSls</string>
	<key>GCM_SENDER_ID</key>
	<string>482948449877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oxygenDashboard</string>
	<key>PROJECT_ID</key>
	<string>xygen-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>xygen-dashboard.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482948449877:ios:4f5ca323b201508186f6dc</string>
</dict>
</plist>